* {
    text-align: center;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

img {
    border: 5px solid white;
    margin: 40px auto auto auto;
    width: 50%;
}

#isleep {
    margin: auto;
}